body{
  background-color:white;
text-align:center;
}
button{
  border-radius:10px;
  padding:10px;
  color:black;
  font-size:20px;
  font-style:bold;
background: skyblue;
border-color:blue;
}
h1{
  font-style:italic;
  font-size:100px;
  text-align:center;
  color:green;
  
}
h2{
color:purple;
font-style:italic;
font-size:80px;
text-align:center;
}
h3{
font-style:pacifico;
font-size:20px;
font-color:silver;
}
img{
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%); 
}
marquee{
font-size:50px;
font-style:bold;
color:light blue;
position:after img;
}
button:active{
background-color:skyblue;
}