body{
  background-color:Skin;
}
.button1{
  border:10px;
  padding:25px;
  color:red;
  font-size:30px;
  font-style:italic;
}
h1{
  font-style:italic;
  font-size:70px;
  text-align:center;
  
}
.button2{
  color:darkblue;
  font-size:30px;
  font-style:italic;
border:10;
}
